/build/
/out/
/.cache/
/.vs/
/.vscode/
/.idea/
CMakeUserPresets.json
*.user
*.suo
*.VC.db
*.VC.opendb
*.obj
*.o
*.a
*.lib
*.dll
*.so
*.dylib
*.exe
*.pdb
*.ilk
.DS_Store
Thumbs.db
/dist/
*.log
*.dmp
*.patch
*.bundle
